<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[topcoder] Search API</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

      <div class="container">
              
        <h1>[topcoder] Search API</h1>

        <p>This is running against live, production data in Elasticsearch coming from the API. A task runs every 10 minutes that calls the <a href="http://docs.tcapi.apiary.io/">topcoder API</a> and loads development and design challenges into Elasticsearch.</p>

        <p>By default, all challenge type data is searchable together unless you specify otherwise. For instance, if you <a href="http://localhost:9393/challenges/search?q=IDOL">search for &quot;IDOL&quot;</a> it will return all design and development challenges with the keyword &quot;IDOL&quot; anywhere in the challenge. If you want to only search specific types of challenges you can do so (see bottom of page) and return results for the specified type of challenge.</p>

        <p>Essentially you can search by almost any key in the JSON document by substituting it below in the query param. The values for the query parameter (q) must be encoded.</p>

        <h2>Simple Searches</h2>

        <ol>
        <li><a href="/challenges/search?q=assembly">/challenges/search?q=assembly</a> - Keyword search across all fields (anywhere!) in the challenge</li>
        <li><a href="/challenges/search?q=challengeName:IDOL">/challenges/search?q=challengeName:IDOL</a> - Keyword search in challenge name</li>
        <li><a href="/challenges/search?q=challengeName:TCO*">/challenges/search?q=challengeName:TCO*</a> - Keyword search with wildcards(*)</li>
        <li><a href="/challenges/search?q=challengeId:30033144">/challenges/search?q=challengeId:30033144</a> - Return challenge by ID</li>
        <li><a href="/challenges/search?q=challengeType:First2Finish">/challenges/search?q=challengeType:First2Finish</a> - Return all &quot;First2Finish&#39; challenges</li>
        <li><a href="/challenges/search?q=platforms:Other">/challenges/search?q=platforms:Other</a> - Search for all challenges with &#39;Other&#39; as one of the platforms</li>
        <li><a href="/challenges/search?q=technologies:Apex,HTML">/challenges/search?q=technologies:Apex,HTML</a> - Search for all challenges with &#39;Apex&#39; and &#39;HTML&#39; as one of the technologies</li>
        <li><a href="/challenges/search?q=numSubmissions:%3E20">/challenges/search?q=numSubmissions:&gt;20</a> - Search for all challenges with more than 20 submissions</li>
        <li><a href="/challenges/search?q=currentStatus:Active">/challenges/search?q=currentStatus:Active</a> - Return all active challenges</li>
        <li><a href="/challenges/search?q=submissionEndDate%3A%3E2014%2F05%2F01">/challenges/search?q=submissionEndDate%3A%3E2014%2F05%2F01</a> - All challenges with the submission end date later than May 1, 2014 (e.g., q=submissionEndDate:&gt;2014/05/01)</li>
        </ol>

        <h2>Complex Searches</h2>

        <p>If you want to search by more than one parameter, make sure you encode the q parameter. See <a href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current//query-dsl-query-string-query.html#query-string-syntax">this Elasticsearch help page</a> for more information about complex query strings.</p>

        <ol>
        <li><a href="/challenges/search?q=challengeName%3AIDOL%20-currentStatus%3ACompleted">/challenges/search?q=challengeName%3AIDOL%20-currentStatus%3ACompleted</a> - All challenges with &quot;IDOL&quot; in the challenge name that are not &#39;Completed&#39; status (e.g, q=challengeName:IDOL -currentStatus:Completed)</li>
        <li><a href="/challenges/search?q=challengeType%3DAssembly%20platforms%3AHTML%20-technologies%3APHP">/challenges/search?q=challengeType%3DAssembly%20platforms%3AHTML%20-technologies%3APHP</a> - All &#39;Assembly&quot; challenge type for HTML platform but <strong>not</strong> PHP technology (e.g, q=challengeType=Assembly platforms:HTML -technologies:PHP)</li>
        <li><a href="/challenges/search?q=challengeType%3Acode%20numRegistrants%3A%3E20">/challenges/search?q=challengeType%3Acode%20numRegistrants%3A&gt;20</a> - All &#39;code&#39; challenges with more than 20 registrants (e.g, q=challengeType:code numRegistrants:&gt;20)</li>
        <li><a href="/challenges/search?q=challengeType%3Acode%20numRegistrants%3A%5B1%20TO%205%5D">/challenges/search?q=challengeType%3Acode%20numRegistrants%3A%5B1%20TO%205%5D</a> - All &#39;code&#39; challenges with 5-10 registrants (e.g, q=challengeType:code numRegistrants:[1 TO 5]</li>
        </ol>

        <h2>Searching by Specific Challenge Type</h2>

        <p>Virtually all of the above API calls work when specifying the type of challenge to return:</p>

        <ol>
        <li><a href="/challenges/search?q=challengeName:IDOL">/challenges/search?q=challengeName:IDOL</a> - Returns <strong>any</strong> challenge with &quot;IDOL&quot; in the challenge name</li>
        <li><a href="/challenges/design/search?q=challengeName:IDOL">/challenges/design/search?q=challengeName:IDOL</a> - Returns <strong>design</strong> challenges with &quot;IDOL&quot; in the challenge name</li>
        <li><a href="/challenges/develop/search?q=challengeName:IDOL">/challenges/develop/search?q=challengeName:IDOL</a> - Returns <strong>development</strong> challenges with &quot;IDOL&quot; in the challenge name</li>
        </ol>


      </div>
  </body>
</html>